<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {% include head.html %}
  </head>

  <body>
    <div class="site-container">
      <header class="site-header">
        {% include header.html %}
      </header>
      
      <div class="site-body wrapper">
        <aside class="site-sidebar" id="site-sidebar">
          {% if page.toc %}
            {% include sidebar-toc.html %}
          {% else %}
            {% include sidebar.html %}
          {% endif %}
        </aside>
        <main class="site-main" id="site-main" aria-label="Content" tabindex="1">
          {{ content }}
          <footer class="site-footer">
            {% include footer.html %}
          </footer>
        </main>
      </div>
    </div>
    <!-- ClustrMaps widget -->
    <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=vaVjaRM0tFOCvvEuFiExGIivfXpSXH4C79OlMJ-XAUs&cl=ffffff&w=a"></script>

    <script src="" async defer></script>
  </body>

</html>
